body {
    font-family: 'Lato', sans-serif;
    ;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    background-color: #E55473;
    border-radius: 8px;
    border: 0;
}

header {
    background-color: rgba(229, 84, 115, 0.10);

}

.header {
    display: flex;
    /* justify-content: center; */
    align-items: center;

}

.header-img {
    width: 635px;
    height: 800px;
    padding-top: 50px;
}

.header-title {
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    margin: 0;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding: 32px 0;
}

/* our featured flower section */

.feature-section {
    margin-top: 178px;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 24px;
}

.box-container {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 48px;
}


.box>a {
    display: block;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-top: 32px;
}

.box1 {
    background-color: #A7216226;
    padding: 110px 78px 0 76px;
    border-radius: 250px 250px 0 0;
}

.box2 {
    background-color: #0597A026;
    padding: 117px 47px 0px 47px;
    border-radius: 250px 250px 0 0;
}

.box3 {
    background-color: #477D1126;
    padding: 67px 75px 0 75px;
    border-radius: 250px 250px 0 0;
}

/* featured */
.hot-deal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E554730D;
    margin-top: 128px;
    padding: 100px;
}

.content {
    width: 50%;
    text-align: center;
}

.Off {
    color: #E55473;
}

/* instagram section  */
.instgram-container {
    display: flex;
    gap: 24px;
    margin-top: 48px;
    justify-content: center;

}

.instagram-section {
    margin-top: 128px;
}


/* latest deal section  */
.deal-container {
    background-image: url('./Rectangle\ 9.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-top: 128px;
    padding: 132px;
}

.deal-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0;

}

.dael-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 16px;
}

.input {
    margin-top: 48px;
}

.input-email {
    border: 0;
    padding: 20px 43px;
    border-radius: 8px;
    width: 700px;
    height: 30px;
}

/* footer  */
.footer {
    margin-top: 128px;
    background-color: black;
    padding: 128px;
}

.footer-title {
    color: white;
    text-align: center;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 24px;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}

.copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}